<script src="Sources/MasterStateController.js"></script>
<script src="Sources/ChatController.js"></script>
<script src="Sources/MemberController.js"></script>
<script src="Sources/ClassController.js"></script>

<div class="pages">
  <div data-page="game-page" class="page">
    <div class="page-content">
      <div ng-controller="master_state_controller">
        <div id="wrapper">
          <div class="overlay"></div>

        </div>

        <!-- Content -->
        <div id="page-content-wrapper">

          <!-- Content container -->
          <div class="container">

            <!-- Members -->
            <div id="members" ng-controller="member_controller">
              <div class="row" style="margin-left: 10%;">
                <div class="col-sm-6">
                  <div class="row" style="padding: 8px;" ng-repeat='member in members'>
                    <h3 style="display: inline;">
                      <span class="label label-warning" style="display: block; white-space: normal;">
                        <label id={{member.$id}} style="width: 90%;">
                          <label ng-if="game_master">
                            {{member.$id}}: 
                          </label>
                          {{member.Name}}
                          <input type="radio" name="option" disabled="true"
                              style="width: 20px; height: 20px; vertical-align: middle;">
                        </label>
                        </br>
                          <p ng-if="game_master" style="width: 90%;"> {{member.Results}} </p>
                      </span>
                    </h3>
                    </br>
                  </div>
                  </br>
                </div>
              </div>
            </div>
          </div>

          <!-- Chat -->
          <div class="chat-container" ng-controller="chat_controller">
            <div class="row">
              <div class="col-md-5" style="float: right;">
                <div class="panel panel-primary">
                  <div onclick="" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="padding: 5px;">
                    <strong class="primary-font">
								Mafia Chat
							</strong>
                  </div>

                  <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body" id="chat-body">
                      <ul class="chat">
                        <li ng-repeat='msg in messages' class="left clearfix">
                          <div class="chat-body clearfix">
                            <div class="header">
                              <span class="glyphicon glyphicon-comment"></span>
                              <strong class="primary-font">
													{{msg.from}}
												</strong>
                            </div>
                            <p>
                              {{msg.body}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="panel-footer" style="margin-bottom: 20px;">
                      <div class="input-group">
                        <input ng-model='msg' ng-keydown="addMessage($event)" id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."
                        />
                        <span class="input-group-btn">
									<button ng-click="addMessageFromClick($event)"
											class="btn btn-warning btn-sm"
											id="btn-chat">
										Send
									</button>
								</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>