<html ng-app="PhelpsTown">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- App title -->
    <title>PhelpsTown</title>
    <script src="modules/jquery-3.2.1.min.js"></script>
    <!-- Angular -->
    <script src="modules/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="modules/angularfire.min.js"></script>
    <!-- Storage modules -->
    <script src="Sources/jstorage2.js"></script>
    <script src="Sources/xml2json.js"></script>
    <!-- Framework7 -->
    <script src="Framework7/js/framework7.min.js"></script>
    <link rel="stylesheet" href="Framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="Framework7/css/framework7.ios.colors.min.css">
</head>

<body>
    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div class="page" data-page="login-page" ng-controller="game_controller">
                    <div class="page-content login-screen-content">
                        <div class="login-screen-title">PhelpsTown</div>
                        <form>
                            <div class="list-block">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Username</div>
                                            <div class="item-input">
                                                <input id="username" type="text" name="username" placeholder="Your username">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-block">
                                <ul>
                                    <li><a ng-click="CreateGame($event)" href="#" class="item-link list-button">Create Game</a></li>
                                    <li><a ng-click="ExistingGamePrompt($event)" href="#" class="item-link list-button existing-game-prompt">Connect To Existing Game</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sources -->
    <script src="Init.js"></script>
    <script src="Sources/DataStore.js"></script>
    <script src="Sources/GameCreator.js"></script>
    <script src="Sources/MetadataResolver.js"></script>
    <script src="Sources/GameController.js"></script>
    <link rel="stylesheet" type="ptext/css" href="chat.css">
</body>

</html>